#tb {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 210px;
  width: 100%;
  /* text */
}


#tb-co-con {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  gap: 1%;
  width: 100%;
  /* text */
}

.tb-co-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  height: 132px;
  width: 50%;
  /* text */
}

.tb-co-ph {
  height: 60px;
  width: 100%;
  background-color:	rgba(9, 180, 43, 0.541);
  /* text */
}

.tb-co-em {
  height: 60px;
  width: 100%;
  background-color:	rgba(4, 180, 101, 0.534);
  background-color:	rgba(9, 180, 43, 0.541);
  /* text */
}

.co-n-con {
  height: 80px;
  width: 50%;
  background-color:	rgba(4, 180, 101, 0.543);
  background-color:	rgba(9, 180, 43, 0.541);
  /* text */
}

#tb-link-sec {
  padding: 2px;
  height: 80px;
  width: 100%;
  background-color:	rgba(4, 180, 101, 0.561);
  background-color:	rgba(9, 180, 43, 0.541);
  /* text */
}
/* end of top bar section */

/* beginning of the summary section */
#sh-sum {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  /* text */
}

.tb-sum {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98%;
  width: 99%;
  background-color:	rgba(22, 108, 42, 0.632);
  /* text */
}
/* end of the summary section */


/* where videos will be stored */
#media {
  display: flex;
  flex-direction: column-reverse;
  height: 750px;
  width: 100%;

  /* text */
}

#r-title-box {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  height: 13%;
  width: 100%;
  background-color: burlywood;
  /* text */
}

.r-t-n {
  height: 99%;
  width: 50%;
  background-color: cadetblue;
}

.r-t-l {
  height: 99%;
  width: 20%;
  background-color: cadetblue;
}

#r-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  height: 85%;
  width: 100%;
  background-color: brown;
}

.r-1 {
  height: 47%;
  width: 47%;
  background-color: aqua;
}

.r-2 {
  height: 47%;
  width: 47%;
  background-color: blue;
}

.r-3 {
  height: 47%;
  width: 47%;
  background-color: green;
}

.r-4 {
  height: 47%;
  width: 47%;
  background-color: goldenrod;
}
/* end of reviews section */
/* beginning of portfolio */
#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  height: 500px;
  width: 100%;
  background-color: goldenrod;
}

#port-title {
  height: 15%;
  width: 100%;
  background-color: greenyellow;
}

#port-cont {
  height: 65%;
  width: 100%;
  background-color: gold;
}

#port-icons {
  height: 8%;
  width: 100%;
  background-color: orangered;
}

#port-quote {
  height: 10%;
  width: 100%;
  background-color: olive;
}

