#tb {
  padding: 2px;
  /* positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 210px;
  width: 100%;
  background-color: darkgoldenrod;
  /* text */
}


#tb-co-con {
  padding: 2px;
  /* positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  gap: 1%;
  width: 100%;
  /* text */
}

.tb-co-con {
  /* positioning */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  height: 132px;
  width: 50%;
  background-color: black;
  /* text */
}

.tb-co-ph {
  /* positioning */
  height: 60px;
  width: 100%;
  background-color: blue;
  /* text */
}

.tb-co-em {
  /* positioning */
  height: 60px;
  width: 100%;
  background-color: brown;
  /* text */
}

.co-n-con {
  /* positioning */
  height: 80px;
  width: 50%;
  background-color: brown;
  /* text */
}

#tb-link-sec {
  padding: 2px;
  /* positioning */
  height: 80px;
  width: 100%;
  background-color: black;
  /* text */
}
/* end of top bar section */

/* beginning of the summary section */
#sh-sum {
  padding: 2px;
  /* positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: green;
  /* text */
}

.tb-sum {
  /* positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98%;
  width: 99%;
  background-color: rebeccapurple;
  /* text */
}
/* end of the summary section */

/* beginning of form section */
#top-form {
  padding: 2px;
  /* positioning */
  display: flex;
  flex-direction: column;
  padding: 4px;
  height: 600px;
  width: 100%;
  background-color: black;
  /* text */
}

#f-co-n {  
  padding: 2px;
  /* positioning */
  height: 100px;
  background-color: greenyellow;
  /* text */
}

#f-cont {
  padding: 2px;
  /* positioning */
  display: flex;
  gap: 10px;
  padding: 1%;
  height: 100%;
  background-color: blanchedalmond;
  /* text */
}

/* specifies that we are
dealing with the questions
the form is asking user */
#f-cont-qu {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 99%;
  width: 200px;
  background-color: brown;
}

/* section where user answers
said questions */
#f-cont-ans {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 99%;
  width: 100%;
  background-color: olivedrab;
}

/* questions */
.f-qu-n {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: black;
}

.f-qu-pn {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: black;
}

.f-qu-em {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: black;
}

.f-qu-serv {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: black;
}

.f-qu-city {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: black;
}
/* end of questions */

/* beginning of answers */
.f-ans-n {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  gap: 5px;
  background-color: black;
}

.f-fn {
  height: 30px;
  width: 30%;
  background-color: wheat;
}

.f-ln {
  height: 30px;
  width: 70%;
  background-color: wheat;
}

.f-ans-pn {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: black;
}

.f-ans-em {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: black;
}

.f-ans-serv {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: black;
}

.f-ans-city {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: black;
}
/* end of answers section */
/* end of the form section */

/* where videos will be stored */
#media {
  display: flex;
  flex-direction: column-reverse;
  height: 750px;
  width: 100%;
  background-color: cadetblue;
  padding: 2px;
}

/* buttons at the bottom 
of the media section */
#med-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9%;
  width: 100%;
  background-color: black;
}

.med-pn {
  height: 89%;
  width: 40%;
  background-color: brown;
}

.med-em {
  height: 89%;
  width: 40%;
  background-color: brown;
}